<?xml version="1.0" encoding="UTF-8" ?>
<!-- 日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status:用于设置log4j2自身内部的信息输出 -->
<!-- monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。 -->
<Configuration status="OFF" monitorInterval="1800">

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{DEFAULT} %-5p [ %t ] %l %M - %m%xEx%n"/>
        </Console>
        <!-- DEBUG输出 -->
        <RollingFile name="DEBUG-OUT" fileName="${sys:catalina.home}/logs/debug.log"
                     filePattern="logs/%d{yyyy-MM-dd}/debug-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{DEFAULT} %-5p [ %t ] %l %M - %m%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <!-- INFO输出 -->
        <RollingFile name="INFO-OUT" fileName="${sys:catalina.home}/logs/info.log"
                     filePattern="logs/%d{yyyy-MM-dd}/info-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{DEFAULT} %-5p [ %t ] %l %M - %m%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <!-- WARN输出 -->
        <RollingFile name="WARN-OUT" fileName="${sys:catalina.home}/logs/warn.log"
                     filePattern="logs/%d{yyyy-MM-dd}/warn-%i.log">
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{DEFAULT} %-5p [ %t ] %l %M - %m%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <!-- ERROR输出 -->
        <RollingFile name="ERROR-OUT" fileName="${sys:catalina.home}/logs/error.log"
                     filePattern="logs/%d{yyyy-MM-dd}/error-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{DEFAULT} %-5p [ %t ] %l %M - %m%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="org.springframework" level="INFO"></logger>
        <root level="ALL">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="DEBUG-OUT"/>
            <appender-ref ref="INFO-OUT"/>
            <appender-ref ref="WARN-OUT"/>
            <appender-ref ref="ERROR-OUT"/>
        </root>
    </Loggers>
</Configuration>